# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.env

# CDK asset staging directory

*.js
!jest.config.js
*.d.ts
node_modules

.build/
.cdk.staging
cdk.out

.env
target/
